<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

  <% include ../partials/nav %>



  <div class="container mt-5">
    <div class="row">
      <div class="col-md-7">

       <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="/tenant">Tenant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active show" data-toggle="tab" href="/property">Property</a>
        </li>
      </ul>

    </div> 

  </div>
  <div class="row">
    <div class="btn-group" role="group" aria-label="Basic example">
      <a href="/house"><button type="button" class="btn btn-secondary">Houses</button></a>
      
      <a href="/house"><button type="button" class="btn btn-secondary">Back</button></a>
      <% if (data.length == 0) { %>
      <button id="button_add" type="button" class="btn btn-secondary">Add Tenant</button>
      <% } %>
    </div>
  </div>
</div>




<div class="container mt-2 mx-auto">


 <% if (data.length == 0) { %>
 <div class="alert alert-dismissible alert-success">
  <button type="button" class="close close_alert" data-dismiss="alert">&times;</button>
  <p>This House is availbale for Rent. Add Tenant.</p>
</div>
<% } %>


<div id = "rents_table" class="row mx-auto">
 <% if (data) { %>
 <% var len = data.length %>
 <% for(var i = 0; i < len; i++) { %>

 <div class="card bg-primary text-white mb-6 mx-auto" style="max-width: 40rem;">
  <span class="card-header"><%= data[i].HID %></span>
  <span class="card-body">
   <h4 class="card-title pt"><%= data[i].TID %> : <%= data[i].NAME %></h4>


   <ul>
     <li class="card-text">Rent : ₹<%= data[i].RENT %></li>
     <li class="card-text">Deposit : ₹<%= data[i].DEPOSIT %></li>
     <li class="card-text">Maintenance : ₹<%= data[i].MAINTENANCE %></li>
     <li class="card-text">Start : <%= data[i].START_DATE %></li>
     <li class="card-text">End : <%= data[i].END_DATE %></li>
   </ul>

   <p class="card-text">Aadhar : <%= data[i].AADHAR %></p>
   <p class="card-text">Address : <%= data[i].ADDRESS %></p>
   <p class="card-text">Phone : <%= data[i].PHONE %></p>
   <p class="card-text">Age : <%= data[i].AGE %></p>
   <p class="card-text">Gender : <%= data[i].GENDER %></p>

   <a href="/tenant/view/<%= data[i].TID %>" class="btn btn-outline-warning btn-sm">View Co-Tenant(s)</a>
   <a href="/rents/update/<%= data[i].HID %>/<%= data[i].TID %>" class="btn btn-outline-info btn-sm">Edit</a>
   <a href="/rents/delete/<%= data[i].HID %>/<%= data[i].TID %>" class="btn btn-outline-danger btn-sm">Delete</a>
 </span>
</div>
<% } %>
<% } %>
</div>
</div>





<!-- The Add Modal -->
<div id ="modal_add"class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Tenant</h5>
        <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="overflow-y: scroll; max-height:500px;">
        <form action="/rents/add" method="POST">

         <div class="form-group">
          <fieldset>
            <label class="col-form-label col-form-label-sm">House ID</label>
            <input name = "HID" class="form-control" placeholder="House ID" type="text" required pattern = "[0-9]+">
          </fieldset>
        </div>

        <div class="form-group">
          <fieldset>
            <label class="col-form-label col-form-label-sm" >Tenant ID</label>
            <input name = "TID" class="form-control" placeholder="Tenant ID"  type="text" required pattern = "[0-9]+">
          </fieldset>
        </div>

        <div class="form-group">
          <label for="RENT" class="col-form-label col-form-label-sm">Rent</label>
          <input type="number" name="RENT" value="" placeholder="Rent in ₹" class="form-control" required pattern = "[0-9]+">
        </div>
        <div class="form-group">
          <label for="DEPOSIT" class="col-form-label col-form-label-sm">Deposit</label>
          <input type="number" name="DEPOSIT" value="" placeholder="Deposit in ₹" class="form-control" required pattern = "[0-9]+">
        </div>

        <div class="form-group">
          <label for="START_DATE" class="col-form-label col-form-label-sm">Start Date</label>
          <input type="date" name="START_DATE" class="form-control" required>
        </div>

        <div class="form-group">
          <label for="END_DATE" class="col-form-label col-form-label-sm">End Date</label>
          <input type="date" name="END_DATE" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-outline-success">Add Tenant</button>
        <button id = "button_cancel" type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
      </form>
    </div>
  </div>
</div>
</div> 



<script>
// Get the modal
var modal = document.getElementById('modal_add');

// Get the button that opens the modal
var btn = document.getElementById("button_add");
var button_cancel = document.getElementById("button_cancel");


// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close_modal")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

button_cancel.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
} 
</script>



<!-- Alerts -->
<script type="text/javascript">

  var md = document.getElementsByClassName("alert");
  var sp = document.getElementsByClassName("close_alert");
  sp[0].onclick = function() {
    md[0].style.display = "none";
  }

  sp[1].onclick = function() {
    md[1].style.display = "none";
  }

</script>



<% include ../partials/footer %> 
<% include ../partials/scripts %> 

</body>

</html>