<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

  <% include ../partials/nav %>



  <div class="container mt-5">
    <div class="row">
      <div class="col-md-7">

       <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="/tenant">Tenant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active show" data-toggle="tab" href="/property">Property</a>
        </li>
      </ul>

    </div> 

  </div>
  <div class="row">
    <div class="btn-group" role="group" aria-label="Basic example">
      <a href="/house"><button type="button" class="btn btn-secondary">Houses</button></a>
      <a href="/property"><button type="button" class="btn btn-secondary">Back</button></a>
    </div>
  </div>
</div>




<div class="container mt-2 mx-auto">

  <div id = "rents_table" class="row mx-auto">
   <% if (data) { %>
   <% var len = data.length %>
   <% for(var i = 0; i < len; i++) { %>

   <div class="card bg-primary text-white mb-6 mx-auto" style="max-width: 40rem;">
    <span class="card-header"><%= data[i].HID %></span>
    <span class="card-body">
     <h4 class="card-title pt"><%= data[i].TID %> : <%= data[i].NAME %></h4>


     <ul>
       <li class="card-text">Rent : ₹<%= data[i].RENT %></li>
       <li class="card-text">Deliosit : ₹<%= data[i].DEPOSIT %></li>
       <li class="card-text">Maintenance : ₹<%= data[i].MAINTENANCE %></li>
       <li class="card-text">Start : <%= data[i].START_DATE %></li>
       <li class="card-text">End : <%= data[i].END_DATE %></li>
     </ul>

     <p class="card-text">Aadhar : <%= data[i].AADHAR %></p>
     <p class="card-text">Address : <%= data[i].ADDRESS %></p>
     <p class="card-text">Phone : <%= data[i].PHONE %></p>
     <p class="card-text">Age : <%= data[i].AGE %></p>
     <p class="card-text">Gender : <%= data[i].GENDER %></p>

     <a href="/house/view/<%= data[i].HID %>" class="btn btn-outline-warning btn-sm">View Tenant</a>
     <a href="/house/update/<%= data[i].HID %>" class="btn btn-outline-info btn-sm">Edit</a>
     <a href="/house/delete/<%= data[i].HID %>" class="btn btn-outline-danger btn-sm">Delete</a>
   </span>
 </div>
 <% } %>
 <% } %>
</div>
</div>


<% include ../partials/footer %> 
<% include ../partials/scripts %> 

</body>

</html>