<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

  <% include ../partials/nav %>



  <div class="container mt-5">
    <div class="row">
      <div class="col-md-7">

       <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="/tenant">Tenant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active show" data-toggle="tab" href="#">Property</a>
        </li>
      </ul>

    </div> 

  </div>
  <div class="row">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button id="button_add" type="button" class="btn btn-secondary">Add</button>
      <a href="/property/refresh"><button type="button" class="btn btn-secondary">Refresh</button></a>
    </div>
  </div>
</div>


<div class="container mt-2">
  <% if (data.length > 0) { %>
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close close_alert" data-dismiss="alert">&times;</button>
    <p><%= data.length %> Properties have been retrieved.</p>
  </div>
  <% } %>


  <% if (data.length == 0) { %>
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close close_alert" data-dismiss="alert">&times;</button>
    <p>No Properties have been retrieved.</p>
  </div>
  <% } %>

  <table class="table table-bordered table-hover">
    <tr>
      <td>
        <input id="pid_filter" class="form-control form-control-sm" onkeyup="property_filter(0)" placeholder="PID"type="number">
      </td>
      <td>
        <input id="type_filter" class="form-control form-control-sm" onkeyup="property_filter(1)" placeholder="Type"type="text">
      </td>
      <td>
        <input id="name_filter" class="form-control form-control-sm" onkeyup="property_filter(2)" placeholder="Name"type="text">
      </td>
    </tr>
  </table>
</div>





<div class="container mt-2 mx-auto" style="overflow-y: scroll; height:auto; max-height: 520px">



  <div id = "property_table" class="row mx-auto">
   <% if (data) { %>
   <% var len = data.length %>
   <% for(var i = 0; i < len; i++) { %>

   <div class="card text-white bg-dark mb-4 mx-auto" style="max-width: 20rem;">
    <span class="card-header"><%= data[i].PID %></span>
    <span class="card-header"><%= data[i].TYPE %></span>
    <span class="card-body">
     <h4 class="card-title pt"><%= data[i].NAME %></h4>
     <p class="card-text">Floors : <%= data[i].FLOORS %></p>
     <p class="card-text">Capacity : <%= data[i].CAPACITY %></p>
     <p class="card-text"><%= data[i].ADDRESS %></p>
     <a href="/property/view/<%= data[i].PID %>" class="btn btn-outline-warning btn-sm">View</a>
     <a href="/property/update/<%= data[i].PID %>" class="btn btn-outline-info btn-sm">Edit</a>
     <a href="/property/delete/<%= data[i].PID %>" class="btn btn-outline-danger btn-sm">Delete</a>
   </span>
 </div>
 <% } %>
 <% } %>
</div>
</div>



<!-- The Add Modal -->
<div id ="modal_add"class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Property</h5>
        <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body" style="overflow-y: scroll; max-height:500px;">
       <form action="/property/add" method="POST">
         <div class="form-group">
          <label for="NAME" class="col-form-label col-form-label-sm">Name</label>
          <input type="text" name="NAME" placeholder="Name" class="form-control" required pattern = "[A-Za-z0-9 .#-,]+">
        </div>
        <div class="form-group">
          <label for="TYPE" class="col-form-label col-form-label-sm">Property Type</label>
          <select name="TYPE" class="custom-select">
            <option selected="<%= data.TYPE%>"><%= data.TYPE%></option>
            <option value="Apartment">Apartment</option>
            <option value="Bungalow">Bungalow</option>
            <option value="Cottage">Cottage</option>
            <option value="Duplex">Duplex</option>
            <option value="Farmhouse">Farmhouse</option>
          </select>
        </div>
        <div class="form-group">
          <label for="ADDRESS" class="col-form-label col-form-label-sm">Address</label>
          <input type="text" name="ADDRESS" placeholder="Address" class="form-control" required pattern = "[A-Za-z0-9 .#-,]+">
        </div>
        <div class="form-group">
          <label for="FLOORS" class="col-form-label col-form-label-sm">Floors</label>
          <input type="number" name="FLOORS" placeholder="Floors" class="form-control" required pattern = "[0-9]+">
        </div>
        <div class="form-group">
          <label for="CAPACITY" class="col-form-label col-form-label-sm">Capacity</label>
          <input type="number" name="CAPACITY" placeholder="Capacity" class="form-control" required pattern = "[0-9]+">
        </div>

        <button type="submit" class="btn btn-outline-success">Add Property</button>
        <button id = "button_cancel" type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
      </form>
    </div>
  </div>
</div>
</div> 



<script>
// Get the modal
var modal = document.getElementById('modal_add');

// Get the button that opens the modal
var btn = document.getElementById("button_add");
var button_cancel = document.getElementById("button_cancel");


// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close_modal")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

button_cancel.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
} 
</script>



<!-- Table Filter -->
<script>
  function property_filter(j) {
  // Declare variables
  var input, filter, table, tr, td, i;
  switch(j) {
    case 0 : input = document.getElementById("pid_filter"); break;
    case 1 : input = document.getElementById("type_filter"); break;
    case 2 : input = document.getElementById("name_filter"); break;
  }
  filter = input.value.toUpperCase();
  table = document.getElementById("property_table");
  tr = table.getElementsByTagName("div");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("span")[j];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>


<!-- Alerts -->
<script type="text/javascript">

  var md = document.getElementsByClassName("alert");
  var sp = document.getElementsByClassName("close_alert");
  sp[0].onclick = function() {
    md[0].style.display = "none";
  }

  sp[1].onclick = function() {
    md[1].style.display = "none";
  }

</script>




<% include ../partials/footer %> 
<% include ../partials/scripts %> 

</body>

</html>