<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

  <% include ../partials/nav %>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-7">

       <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="/tenant">Tenant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active show" data-toggle="tab" href="#">Property</a>
        </li>
<!--         <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
      </ul>

    </div> 
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td>n°</td>
            <td>Name</td>
            <td>Aadhar</td>
            <td>Address</td>
            <td>Phone</td>
            <td>Gender</td>
            <td>Age</td>
            <td>D.O.B</td>
            <td>Actions</td>
          </tr>
        </thead>
        <tbody>
          <% if (data) { %>
          <% for(var i = 0; i < data.length; i++) { %>
          <tr>
            <td><%= data[i].TID %></td>
            <td><%= data[i].NAME %></td>
            <td><%= data[i].AADHAR %></td>
            <td><%= data[i].ADDRESS %></td>
            <td><%= data[i].PHONE %></td>
            <td><%= data[i].GENDER %></td>
            <td><%= data[i].AGE %></td>
            <td><%= data[i].BDATE %></td>
            <td>
              <a href="/tenant/update/<%= data[i].TID %>" class="btn btn-info">Edit</a>
              <a href="/tenant/delete/<%= data[i].TID %>" class="btn btn-danger">Delete</a>
            </td>
          </tr>
          <% } %>
          <% } %>
        </tbody>
      </table>
    </div>

  </div>
  <div class="col-md-5">
    <div class="card-body">

      <form action="/tenant/add" method="POST">
        <div class="form-group">
          <input type="text" name="FNAME" placeholder="First Name" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="MINIT" placeholder="Middle Name" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="LNAME" placeholder="Last Name" class="form-control" autofocus>
        </div>

        <div class="form-group">
          <input type="text" name="AADHAR" placeholder="Aadhar" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="ADDRESS" placeholder="Address" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="PHONE" placeholder="Phone" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="GENDER" placeholder="Gender" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="BDATE" placeholder="Date of Birth" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Add Tenant</button>
      </form>
    </div>
  </div>
</div>


<% include ../partials/scripts %> 

</body>

</html>