<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>
<body>

  <% include ../partials/nav %>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-5 offset-md-3 card">
        <div class="card-body">

          <form action="/tenant/update/<%= data.TID %>" method="POST">

            <div class="form-group">
              <label for="FNAME" class="col-form-label col-form-label-sm">First Name</label>
              <input type="text" name="FNAME" value="<%= data.FNAME%>" placeholder="First Name"  class="form-control" required pattern="[A-Za-z ]+">
            </div>
            <div class="form-group">
              <label for="MINIT" class="col-form-label col-form-label-sm">Middle Name</label>
              <input type="text" name="MINIT" value="<%= data.MINIT%>" placeholder="Middle Name" class="form-control" required pattern="[A-Za-z ]*">
            </div>
            <div class="form-group">
              <label for="LNAME" class="col-form-label col-form-label-sm">Last Name</label>
              <input type="text" name="LNAME" value="<%= data.LNAME%>" placeholder="Last Name" class="form-control" required pattern="[A-Za-z ]+">
            </div>
            <div class="form-group">
              <label for="AADHAR" class="col-form-label col-form-label-sm">Aadhar</label>
              <input type="text" name="AADHAR" value="<%= data.AADHAR%>" placeholder="Aadhar" class="form-control" required pattern="[0-9]{12}">
            </div>
            <div class="form-group">
              <label for="ADDRESS" class="col-form-label col-form-label-sm">Address</label>
              <input type="text" name="ADDRESS" value="<%= data.ADDRESS%>" placeholder="Address" class="form-control" required pattern = "[A-Za-z0-9 .#-,]+">
            </div>
            <div class="form-group">
              <label for="PHONE" class="col-form-label col-form-label-sm">Phone</label>
              <input type="text" name="PHONE" value="<%= data.PHONE%>" placeholder="Phone" class="form-control" required pattern="[0-9]{10}">

            </div>
            <div class="form-group">
              <label for="GENDER" class="col-form-label col-form-label-sm">Gender</label>
              <select name="GENDER" class="custom-select">
                <option selected="<%= data.GENDER%>">Gender</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
              </select>
            </div>
            <div class="form-group">
              <label for="bdate
              " class="col-form-label col-form-label-sm">Date of Birth</label>
              <input type="date" name="BDATE" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-outline-success">Update Tenant</button>
            <a href="/tenant"> <button type="button" class="btn btn-outline-danger">Cancel</button></a>
          </form>

        </div>
      </div>
    </div>
  </div>


  <% include ../partials/footer %> 
  <% include ../partials/scripts %> 

</body>

</html>